In [1]:
import numpy as np
import pandas as pd
import warnings

In [2]:
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv(r"C:\Users\gargi\OneDrive - UT Arlington\personal\new proj\imdb_top_1000.csv")
df.head(1)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"

In [4]:
movies = df[['Series_Title','Genre','Overview','Director','Star1','Star2','Star3','Star4']]

In [5]:
movies.head()

,Series_Title,Genre,Overview,Director,Star1,Star2,Star3,Star4
0,The Shawshank Redemption,Drama,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
1,The Godfather,"Crime, Drama",An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton
2,The Dark Knight,"Action, Crime, Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine
3,The Godfather: Part II,"Crime, Drama",The early life and career of Vito Corleone in ...,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton
4,12 Angry Men,"Crime, Drama",A jury holdout attempts to prevent a miscarria...,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler

In [6]:
def convert_to_lower_case(col):
    return col.str.lower()

In [7]:
movies.Overview = convert_to_lower_case(movies['Overview'])
movies.Director = convert_to_lower_case(movies['Director'])
movies.Star1 = convert_to_lower_case(movies['Star1'])
movies.Star2 = convert_to_lower_case(movies['Star2'])
movies.Star3 = convert_to_lower_case(movies['Star3'])
movies.Star4 = convert_to_lower_case(movies['Star4'])
movies.Genre = convert_to_lower_case(movies['Genre'])

In [8]:
movies.head()

,Series_Title,Genre,Overview,Director,Star1,Star2,Star3,Star4
0,The Shawshank Redemption,drama,two imprisoned men bond over a number of years...,frank darabont,tim robbins,morgan freeman,bob gunton,william sadler
1,The Godfather,"crime, drama",an organized crime dynasty's aging patriarch t...,francis ford coppola,marlon brando,al pacino,james caan,diane keaton
2,The Dark Knight,"action, crime, drama",when the menace known as the joker wreaks havo...,christopher nolan,christian bale,heath ledger,aaron eckhart,michael caine
3,The Godfather: Part II,"crime, drama",the early life and career of vito corleone in ...,francis ford coppola,al pacino,robert de niro,robert duvall,diane keaton
4,12 Angry Men,"crime, drama",a jury holdout attempts to prevent a miscarria...,sidney lumet,henry fonda,lee j. cobb,martin balsam,john fiedler

In [9]:
def remove_spaces(col):
    return col.str.replace(" ","")

movies.Director = remove_spaces(movies.Director)
movies.Star1 = remove_spaces(movies.Star1)
movies.Star2 = remove_spaces(movies.Star2)
movies.Star3 = remove_spaces(movies.Star3)
movies.Star4 = remove_spaces(movies.Star4)

In [10]:
movies.head()

,Series_Title,Genre,Overview,Director,Star1,Star2,Star3,Star4
0,The Shawshank Redemption,drama,two imprisoned men bond over a number of years...,frankdarabont,timrobbins,morganfreeman,bobgunton,williamsadler
1,The Godfather,"crime, drama",an organized crime dynasty's aging patriarch t...,francisfordcoppola,marlonbrando,alpacino,jamescaan,dianekeaton
2,The Dark Knight,"action, crime, drama",when the menace known as the joker wreaks havo...,christophernolan,christianbale,heathledger,aaroneckhart,michaelcaine
3,The Godfather: Part II,"crime, drama",the early life and career of vito corleone in ...,francisfordcoppola,alpacino,robertdeniro,robertduvall,dianekeaton
4,12 Angry Men,"crime, drama",a jury holdout attempts to prevent a miscarria...,sidneylumet,henryfonda,leej.cobb,martinbalsam,johnfiedler

In [11]:
movies.Overview = movies.Overview.str.split(" ")

In [12]:
movies.Overview

0      [two, imprisoned, men, bond, over, a, number, ...
1      [an, organized, crime, dynasty's, aging, patri...
2      [when, the, menace, known, as, the, joker, wre...
3      [the, early, life, and, career, of, vito, corl...
4      [a, jury, holdout, attempts, to, prevent, a, m...
                             ...
995    [a, young, new, york, socialite, becomes, inte...
996    [sprawling, epic, covering, the, life, of, a, ...
997    [in, hawaii, in, 1941,, a, private, is, cruell...
998    [several, survivors, of, a, torpedoed, merchan...
999    [a, man, in, london, tries, to, help, a, count...
Name: Overview, Length: 1000, dtype: object

In [13]:
movies.head()

,Series_Title,Genre,Overview,Director,Star1,Star2,Star3,Star4
0,The Shawshank Redemption,drama,"[two, imprisoned, men, bond, over, a, number, ...",frankdarabont,timrobbins,morganfreeman,bobgunton,williamsadler
1,The Godfather,"crime, drama","[an, organized, crime, dynasty's, aging, patri...",francisfordcoppola,marlonbrando,alpacino,jamescaan,dianekeaton
2,The Dark Knight,"action, crime, drama","[when, the, menace, known, as, the, joker, wre...",christophernolan,christianbale,heathledger,aaroneckhart,michaelcaine
3,The Godfather: Part II,"crime, drama","[the, early, life, and, career, of, vito, corl...",francisfordcoppola,alpacino,robertdeniro,robertduvall,dianekeaton
4,12 Angry Men,"crime, drama","[a, jury, holdout, attempts, to, prevent, a, m...",sidneylumet,henryfonda,leej.cobb,martinbalsam,johnfiedler

In [14]:
movies['Director'] = movies['Director'].apply(lambda x: [x])
movies['Star1'] = movies['Star1'].apply(lambda x: [x])
movies['Star2'] = movies['Star2'].apply(lambda x: [x])
movies['Star3'] = movies['Star3'].apply(lambda x: [x])
movies['Star4'] = movies['Star4'].apply(lambda x: [x])
movies['Genre'] = movies['Genre'].apply(lambda x: [x])

In [15]:
movies.head()

,Series_Title,Genre,Overview,Director,Star1,Star2,Star3,Star4
0,The Shawshank Redemption,[drama],"[two, imprisoned, men, bond, over, a, number, ...",[frankdarabont],[timrobbins],[morganfreeman],[bobgunton],[williamsadler]
1,The Godfather,"[crime, drama]","[an, organized, crime, dynasty's, aging, patri...",[francisfordcoppola],[marlonbrando],[alpacino],[jamescaan],[dianekeaton]
2,The Dark Knight,"[action, crime, drama]","[when, the, menace, known, as, the, joker, wre...",[christophernolan],[christianbale],[heathledger],[aaroneckhart],[michaelcaine]
3,The Godfather: Part II,"[crime, drama]","[the, early, life, and, career, of, vito, corl...",[francisfordcoppola],[alpacino],[robertdeniro],[robertduvall],[dianekeaton]
4,12 Angry Men,"[crime, drama]","[a, jury, holdout, attempts, to, prevent, a, m...",[sidneylumet],[henryfonda],[leej.cobb],[martinbalsam],[johnfiedler]

In [16]:
movies['Tags'] = movies['Genre']+movies['Overview']+movies['Director']+movies['Star1']+movies['Star2']+movies['Star3']+movies['Star4']
movies.head()

,Series_Title,Genre,Overview,Director,Star1,Star2,Star3,Star4,Tags
0,The Shawshank Redemption,[drama],"[two, imprisoned, men, bond, over, a, number, ...",[frankdarabont],[timrobbins],[morganfreeman],[bobgunton],[williamsadler],"[drama, two, imprisoned, men, bond, over, a, n..."
1,The Godfather,"[crime, drama]","[an, organized, crime, dynasty's, aging, patri...",[francisfordcoppola],[marlonbrando],[alpacino],[jamescaan],[dianekeaton],"[crime, drama, an, organized, crime, dynasty's..."
2,The Dark Knight,"[action, crime, drama]","[when, the, menace, known, as, the, joker, wre...",[christophernolan],[christianbale],[heathledger],[aaroneckhart],[michaelcaine],"[action, crime, drama, when, the, menace, know..."
3,The Godfather: Part II,"[crime, drama]","[the, early, life, and, career, of, vito, corl...",[francisfordcoppola],[alpacino],[robertdeniro],[robertduvall],[dianekeaton],"[crime, drama, the, early, life, and, career, ..."
4,12 Angry Men,"[crime, drama]","[a, jury, holdout, attempts, to, prevent, a, m...",[sidneylumet],[henryfonda],[leej.cobb],[martinbalsam],[johnfiedler],"[crime, drama, a, jury, holdout, attempts, to,..."

In [17]:
movies.drop(columns=['Overview','Director','Star1','Star2','Star3','Star4','Genre'], inplace=True)

In [18]:
movies.head()

               Series_Title                                               Tags
0  The Shawshank Redemption  [drama, two, imprisoned, men, bond, over, a, n...
1             The Godfather  [crime, drama, an, organized, crime, dynasty's...
2           The Dark Knight  [action, crime, drama, when, the, menace, know...
3    The Godfather: Part II  [crime, drama, the, early, life, and, career, ...
4              12 Angry Men  [crime, drama, a, jury, holdout, attempts, to,...

In [19]:
movies['Tags'][0]

['drama',
 'two',
 'imprisoned',
 'men',
 'bond',
 'over',
 'a',
 'number',
 'of',
 'years,',
 'finding',
 'solace',
 'and',
 'eventual',
 'redemption',
 'through',
 'acts',
 'of',
 'common',
 'decency.',
 'frankdarabont',
 'timrobbins',
 'morganfreeman',
 'bobgunton',
 'williamsadler']

In [20]:
movies['Tags'] = movies['Tags'].apply(lambda x: " ".join(x))

In [21]:
movies.head()

               Series_Title                                               Tags
0  The Shawshank Redemption  drama two imprisoned men bond over a number of...
1             The Godfather  crime, drama an organized crime dynasty's agin...
2           The Dark Knight  action, crime, drama when the menace known as ...
3    The Godfather: Part II  crime, drama the early life and career of vito...
4              12 Angry Men  crime, drama a jury holdout attempts to preven...

In [22]:
import nltk
from nltk.stem import PorterStemmer

In [23]:
ps = PorterStemmer()

In [24]:
def stems(text):
    T = []
    
    for i in text.split():
        T.append(ps.stem(i))
    
    return " ".join(T)

In [25]:
movies['Tags'] = movies['Tags'].apply(stems)

In [26]:
movies['Tags'][0]

'drama two imprison men bond over a number of years, find solac and eventu redempt through act of common decency. frankdarabont timrobbin morganfreeman bobgunton williamsadl'

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=4000,stop_words='english')

In [28]:
vector = cv.fit_transform(movies['Tags']).toarray()

In [29]:
vector.shape

(1000, 4000)

In [30]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'émilevallé', 'érictoledano',
       'ömerfaruksorak'], dtype=object)

In [31]:
from sklearn.metrics.pairwise import cosine_similarity
cs = cosine_similarity(vector)

In [32]:
cs.shape

(1000, 1000)

In [34]:
def recommend(movie):
    index = movies[movies['Series_Title'] == movie].index[0]
    distances = sorted(list(enumerate(cs[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(movies.iloc[i[0]]['Series_Title'])

In [36]:
recommend('The Dark Knight')

Batman Begins
The Dark Knight Rises
The Godfather: Part III
Dip huet seung hung
Scarface: The Shame of the Nation